{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">
              Розрахунок
            </button>
        {% endbuttons %}
    </form>

    <p class="mt-4">
        {{ sum_from }} {{ current_from }} => {{ sum_to }} UAH
    </p><br><br>

    <p>Всі курси валют {{ sum_from }} {{ current_from }}</p>
    <ul>
        {% for rate in rates %}
            <li>{{ rate.provider }}: {{ rate.sum_to }} UAH</li>
        {% endfor %}
    </ul>
{% endblock %}